MODEL_PROVIDER=google  
# groq

GOOGLE_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-lite

EMBDEDDING_PROVIDER=huggingface 
# gemini

HUGGINGFACE_EMBEDDING_MODEL=BAAI/bge-base-en-v1.5
GEMINI_EMBEDDING_MODEL=gemini-embedding-001

GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b


VECTOR_STORE=qdrant 
# pgvector
QDRANT_PATH=./qdrant_data

# Optional: PGVector Configuration (if VECTOR_STORE=pgvector)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Web Server Port & Environment
PORT=5000
PROD=false # Set to true in production to hide the ingestion button and use existing vector data